<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lobster.tobebraverman.dao.PostMapper">
    <resultMap id="BaseResultMap" type="com.lobster.tobebraverman.entity.Posts">
        <id column="posts_id" property="postsId"/>
        <result column="post_author" property="postAuthor"/>
        <result column="post_content" property="postContent"/>
        <result column="post_title" property="postTitle"/>
        <result column="create_date" property="postDate"/>
    </resultMap>

    <sql id="Base_Column_List">
        post_id, post_author, post_content, post_title,
        DATE(post_date) as create_date
    </sql>

    <select id="getAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from posts;
    </select>

    <select id="getOne" parameterType="java.lang.Long" resultMap="BaseResultMap" >
        SELECT
        <include refid="Base_Column_List" />
        FROM posts
        WHERE post_id = #{id}
    </select>

    <insert id="insert" parameterType="com.lobster.tobebraverman.entity.Posts">
        insert into
            posts
            (post_author,post_content,post_title)
        values
            (#{postAuthor},#{postContent},#{postTitle});
    </insert>
    <update id="update" parameterType="com.lobster.tobebraverman.entity.Posts">
        update
        posts
        set
        <if test="postAuthor != null">post_author=#{postAuthor},</if>
        <if test="postContent != null">post_content=#{postContent},</if>
        post_title=#{postTitle}
        where post_id=#{postId}
    </update>
    <update id="delete" parameterType="java.lang.Long">
        update
        posts
        set  post_isdeleted= 1
        where post_id=#{postId}
    </update>
    <delete id="deletePermanent" parameterType="java.lang.Long">
        delete from
            posts
        where
            post_id=#{id}
    </delete>
</mapper>